section.section-intro
  .content-intro.bg-white.p-t-77.p-b-133
    .container
     if typeof(dataroom.room)!= "undefined"  
      .row
       each item,index in dataroom.room
        .col-md-4.p-t-30
          .blo1
            .wrap-pic-blo1.bo-rad-10.hov-img-zoom
              a(href="/room#"+index+"")
                img(src=item.image?item.image:'', alt="IMG-INTRO", style="width: 360px;height: 214px;")
            .wrap-text-blo1.p-t-35
              a(href="/room#"+index+"")
                h4.txt5.color0-hov.trans-0-4.m-b-13=item.type
              p.m-b-20=item.convenient?item.convenient:''
              a.txt4(href="/room#"+index+"") Xem thêm
                i.fa.fa-long-arrow-right.m-l-10(aria-hidden="true")
  .header-intro.parallax100.t-center.p-t-135.p-b-158(style="background-image: url(images/premier-room.jpg);")
    span.tit2.p-l-15.p-r-15 Đặt phòng
        form.wrap-form-booking(action="/pages/book/room",method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .d-inline-flex.p-2
            span.txt6(style="padding-right: 15px;") Ngày đến
                .wrap-inputdate.pos-relative.txt10.size12.bo2.bo-rad-10.m-t-3.m-b-23
                  input.my-calendar.bo-rad-10.sizefull.txt10.p-l-20(type="text", name="checkin")
                  i.btn-calendar.fa.fa-calendar.ab-r-m.hov-pointer.m-r-18(aria-hidden="true")
            span.txt6 Ngày đi
                .wrap-inputdate.pos-relative.txt10.size12.bo2.bo-rad-10.m-t-3.m-b-23
                  input.my-calendar.bo-rad-10.sizefull.txt10.p-l-20(type="text", name="checkout")
                  i.btn-calendar.fa.fa-calendar.ab-r-m.hov-pointer.m-r-18(aria-hidden="true")  
          .d-inline-flex.p-2 
            span.txt6(style="padding-right: 15px; width: 190px;") Loại phòng
                .wrap-inputdate.pos-relative.txt10.size12.bo2.bo-rad-10.m-t-3.m-b-23
                  select.selection-1(name="room_type")
                   if typeof(dataroom.room)!= "undefined"   
                    each item in dataroom.room  
                      option=item.type   
            span.txt6(style="padding-right: 15px;") Số người lớn
                .wrap-inputdate.pos-relative.txt10.size12.bo2.bo-rad-10.m-t-3.m-b-23
                  select.selection-1(name="people")
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8
                    option 9
                    option 10
            span.txt6(style="padding-right: 15px;") CMTND
                .wrap-inputdate.pos-relative.txt10.size12.bo2.bo-rad-10.m-t-3.m-b-23
                  input.bo-rad-10.sizefull.txt10.p-l-20(type="text", name="identity_card")
            span.txt6(style="padding-right: 15px;") Điện thoại
                .wrap-inputdate.pos-relative.txt10.size12.bo2.bo-rad-10.m-t-3.m-b-23
                  input.bo-rad-10.sizefull.txt10.p-l-20(type="tel", name="phone")
            span.txt6 Email
                .wrap-inputdate.pos-relative.txt10.size12.bo2.bo-rad-10.m-t-3.m-b-23
                  input.bo-rad-10.sizefull.txt10.p-l-20(type="Email", name="email")                            
          .wrap-btn-booking.flex-c-m.m-t-6
              button.btn3.flex-c-m.size13.txt11.trans-0-4(type="submit") Đặt phòng                 
  

       

               
